@model PVP_K180.Models.Seniunija

@{
    ViewBag.Title = "Apie";
}

<h2>Apie @Model.seniunyjos_pavadinimas</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @Html.Raw(Model.aprasymas);
        </dd>
    </dl>
</div>
