@model IEnumerable<PVP_K180.ModelView.ProjektuPerziura>
@{
    ViewBag.Title = "Projektai";
}
<link href="~/Styles/ProjectStyle.css" rel="stylesheet" />
<script src="https://kit.fontawesome.com/2e7ea6ec96.js" crossorigin="anonymous"></script>
<h2 style="text-align:center">Projektai</h2>
<div style="align-content:center; margin-top:20px;" class="row">
    @foreach (var item in Model)
    {
        <div class="column">
            <figure class="snip1493">
                <div class="image" style="max-width:200px">
                <img src="~/Nuotraukos/@item.pradine_nuotrauka" alt="ls-sample1" />
                </div>
                <figcaption>
                    <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
                    <h3>@item.pavadinimas</h3>
                    <p>
                        @item.aprasymas
                    </p>
                    <footer>
                        <div class="love"><i class="ion-heart"></i>@item.ivertinimas</div>
                        <div class="comments"><i class="ion-chatboxes"></i>23</div>
                        <div class="comments"><i class="fa-solid fa-check"></i>@item.busena</div>
                    </footer>
                </figcaption>
                <a href="#"></a>
            </figure>
            </div>
            }
        </div>

        <script>
            /* Demo purposes only */

        </script>
