
@{
    ViewBag.Title = "Profilio valdymas";
}

<h2>Profilio valdymas</h2>

<td style="margin-top:20px">
    @Html.ActionLink("Redaguoti duomenis", "RedaguotiDuomenys", "Vartotojas")
</td>
<div style="margin-top:20px; padding-top: 20px;">
    <p>
        @Html.ActionLink("Atgal", "Index", "Home")
    </p>
</div>

